<div >

    <mat-card class="mat-elevation-z8" >
            <form #feedform="ngForm" style="width: 80%;" novalidate>
    
                <div >
                  <mat-form-field style="width:100%;">
                      <mat-label>Username</mat-label>
                      <input matInput required id="usernameInput" style="height: 40%;" #name = "ngModel" name="c1" [(ngModel)] = "username"/>
                  </mat-form-field>
                </div>
                <div >
                    <mat-form-field style="width:100%;">
                        <mat-label>Password</mat-label>
                        <input matInput required id="passwordInput" style="height: 40%;" #name2 = "ngModel" name="c2" [(ngModel)] = "password" type="password"/>
                    </mat-form-field>
                </div>

                <div >
                  <button id="loginButton" [disabled] ="name.invalid || name2.invalid" mat-raised-button color="primary" type="submit"  (click)="login()">Log in</button>
                  <button id="signupButton" [disabled] ="name.invalid || name2.invalid" mat-raised-button color="secondary" type="submit"  (click)="signup()">Sign up</button>
                </div>
      
            </form>
    </mat-card>
</div>