<p>login works!</p>

<form style="width: 80%;" novalidate>
    <div style="text-align: center; margin-top: 20px;">   
        <div class="item1">
        <mat-form-field style="width:100%;">
            <mat-label>Username</mat-label>
            <input matInput required id="usernameInput" style="height: 40%;" name="c1"/>
        </mat-form-field>
        </div>
        <div class="item3">
            <mat-form-field style="width:100%;">
                <mat-label>Password</mat-label>
                <input matInput required id="passwordInput" style="height: 40%;" name="c2"  type="password"/>
            </mat-form-field>
        </div>
    </div>

    <div>
      <button >Log in</button>
      <button >Sign up</button>
    </div>

</form>